$tablet-width: 768px;
$desktop-width: 1280px;

$side-margin-mobile: 1rem;
$side-margin-tablet: 1.5rem;

$desktop-container-width: 72.5rem;

$primary-gray: #2D2D2D;
$primary-pink: #FF6B6B;

$secondary-beige: #FFFAF3;
$secondary-yellow: #FFC300;

$tertiary-white: #FFFFFF;