@use './styles/mixins' as *;
@use './styles/variables' as *;

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    min-height: 100vh;
    background-color: $secondary-beige;

    &__button-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 60%;

        @include tablet {
            flex-direction: row;
            gap: 1rem;
            justify-content: center;
        }
    }
}